body {
    background-color: lightgray;
}

#game-container {
    background-color: beige;
}

h1, h2 {
    text-align: center;
}

#scores {
    text-align: center;
    background-color: bisque;
    margin: 10vw 40vw;
}

#text-display {
    margin: 10vw;
    background-color: lightcoral;
    border: 3px solid red;
}

#true-false-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: antiquewhite;
}

.t-f-button {
    text-align: center;
    height: 30vw;
    width: 30vw;
    margin: 5vw;
}

#true {
    background-color: aliceblue;
}

#false {
    background-color: lightcyan;
}